html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: blue;
}

body > div {
  margin: 10px auto;
  text-align: center;
}

.box {
  width: 32px;
  height: 32px;
  
  display: inline-block;
  vertical-align: top;
}

.brick {
  background-image: url(assets/imige/wall.png);
  
}

.coin {
  background-color: gold;
  border-radius:50% ;
  transform: scale(0.3);
}

.pacman {
  background-image: url(assets/imige/pacman_right.jpeg);
  background-repeat: no-repeat;
  background-size: 30px;
}

.left {
  background-image:url(assets/imige/pacman_left.jpeg) ;
}

.up {
  background-image: url(assets/imige/pacman_up.jpeg) ;
}

.down {
  background-image: url(assets/imige/pacman_down.jpeg) ;
}

span {
  
  position:relative;
  width: 100px;
  height: 50px;
  
  
}